*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
 .nav-bar{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}
  
 .list ul{
  list-style-type: none;
  display: flex;
  
  
}
.nav-bar .list ul a{
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  color: #000;
  font-size: 15px;
  font-weight: 530;

}
.nav-bar .list ul a:hover{
  color: rgba(71, 6, 92, 0.822);
}